@forward 'src/assets/scss/base/resetPro.scss';
@use 'src/assets/scss/utils/shared.scss' as *;

body{
  background-color: map-get($colors, bg-clr);
  display: grid;
  grid-auto-rows: auto;
  gap: 3rem;
}