$colors: (
  bg-clr: #180d2a,
  header-clr: #048471da
);

$spacing: (
  spacing-xs: 0.5rem,
  spacing-1: 1rem,
  spacing-2: 2rem,
  spacing-3: 3rem,
  spacing-4: 4rem,
  spacing-5: 5rem,
  spacing-10: 10rem,
  spacing-responsive: min(20vw, 5rem)
);

$font: (
  xs-font: 0.8rem,
  sm-font: 1rem,
  base-font: 1.3rem,
  md-font: 2rem,
  lg-font: 2.5rem,
  xl-font: 3.5rem,
  responsive-font: max(1.8vw, 1.2rem)
);

$media: (
  xs : 12.5rem, //200px
  sm : 25rem, //400px
  md : 47.5rem, //760px
  lg : 64rem, //1024px
  xl : 80rem, //1280px
  2xl : 96rem //1536px
);

/*
Example:
h1{
  color: map-get($colors , clr-secondary-dark );
}
*/